@import "fn.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* { touch-action: manipulation; }

.icon{
  @include size(rpx(50), rpx(50));
}

.bg100 {
  background-size: 100% 100%;
}

.countdown {
  font-size: rpx(40);
  font-weight: 700;
}